body{
    margin: 0;
}
#header-bar{
    background-color: #232d2f;
    height: 8px;
}
#main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom:   1px solid #aaa;
    padding-top: 20px;
}
#header a{
    text-decoration: none;
    text-transform: capitalize;
    padding-right: 10px;
}
#logo2  {
    padding-top: 30px;
    font-size: 30px;
    color: #54a2eb;
    text-align: center;
}
#about-us {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #aaa;
}
#aboutleft{
    width: 47.5%;
}
#aboutright{
    width: 47.5%;
}
#circles { 
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    justify-content: center;
    color: white;
    
}
#circles p{
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 65px;
}
#circle-1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: lightblue;
    opacity: 0.7;
  }
#circle-2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: lightblue;
    opacity: 0.7;
    margin-left: -30px;
  }
#circle-3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: lightblue;
    opacity: 0.7;
    margin-left: -30px;
  }
#circle-1:hover{
    opacity: 0.85;
}
#circle-2:hover{
    opacity: 0.85;
}
#circle-3:hover{
    opacity: 0.85;
}
.info {
    width: 200px;
}
#info-all hr h3 {
padding: 0;
margin: 0;
}
#info-all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;

}


